body{
    overflow-y: hidden;
}
.items{
    display: flex;  
}
.items .item{
    height: auto;
    min-width: 430px;
    margin: 10px;
    background-color: #F2F4F7;
}
.item h5,p{
    margin: 10px;
    display: inline;
}
.item h5{
    float: left;
}
.item p{
    font-size: 14px;
    float: right;
}
.card_section{
    margin-top: 50px;
    height: 1200px;
    overflow: hidden;
    overflow-y: scroll;
}
.card{
    height: 150px;
    width: 400px;
    background-color: #fff;
    margin: 10px auto;
}
.img_1{
    height: 30px;
    margin: 5px;
    width: 30px;
    border-radius: 50%;
}
.row_1{
    height:50px;
}
.row_2{
    height:50px;
}
.row_3{
    height:50px;
}
.row_1 h6{
    display: inline;
}
.row_1 img{
    float: left;
}
.col_1{
    margin: 10px;
    display: inline;
    float: left;
}
.col_2{
    margin: 10px;
    display: inline;
    float: right;
}
.row_2>.col_2{
    background-color: #F2F4F7;
    height: 30px;
}
.col_1 h6{
    position: relative;
    top: 4px
}
.col_1 p{
    position: relative;
    top: -6px
}
.col_2 p{
    position: relative;
    top: -6px
}
.col_2 h6{
    position: relative;
    top: 4px
}
.date_input{
    border: none;
}
.row_3 span{
    font-size: 15px;
}
.row_3 img{
    margin:5px;
}
.row_3 span{
    margin: 5px;
}
.row_3_content{
    display: inline;
    position: relative;
    left: 25px;
}
input[type="date"]{
    width: 110px;
}
.top_num{
    background-color: #E8EEF3;
    font-size: 17px !important;
    border-radius: 20%;
    height: 25px;
    width: 25px;
    text-align: center;
}
.view{
    background-color: #F2F4F7;
    /* font-size: 17px !important; */
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
}
input{
    margin-left: 18px;
}
.circle{
    top: 7px;
    left: 25px;
    position: relative;
    display: inline-block;
    height: 30px;
    min-width: 50px;
    float: left;
    background: #D21010;
    clip-path: ellipse(40% 40% at 0% 50%)
}
.circle_horizontal_column_2{
    top: 7px;
    left: 25px;
    position: relative;
    display: inline-block;
    height: 30px;
    min-width: 50px;
    float: left;
    background: #00B5FF;
    clip-path: ellipse(40% 40% at 0% 50%)
}
.circle_horizontal_column_3{
    top: 7px;
    left: 25px;
    position: relative;
    display: inline-block;
    height: 30px;
    min-width: 50px;
    float: left;
    background: #FFE700;
    clip-path: ellipse(40% 40% at 0% 50%)
}
h5,h6,p,i,span,input{
    color: #463739;
}
/* scrollbar design */
/* width */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #006FB9; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #005b98; 
  }